{% extends 'logado.html' %}

{% block conteudo %}

	<ul class="panel">
		<li class="panel-head">
			<p>Usuários</p>
		</li>
		<li class="panel-body">

			{% for message in get_flashed_messages() %}
			<p class="ele-space center"> {{ message }} </p>
			{% endfor %}

			<table class="txt-center tabela">
				<tr>
					<th class="r-usuario">ID</th>
					<th class="r-usuario">Usuário</th>
					<th class="r-data">Data de Cadastro</th>
					<th class="r-acertos">Ativo?</th>
				</tr>
				{% for usuario in usuarios %}
				<tr>
					<td><p>{{ usuario._id }}<p></td>
					<td><a href="/usuario/editar/{{usuario.usuario}}" class="a">{{ usuario.usuario }}</p></td>
					<td><p>{{ usuario.data_de_cadastro_f0 }}</p></td>
					<td><p>{{ usuario.ativo_texto }}</p></td>
				</tr>
				{% endfor %}
			</table>

		<li>
	</ul>

{% endblock %}