{% extends 'logado.html' %}
{% block conteudo %}
	
	<ul class="panel">
		<li class="panel-head">
			<p>Usuário - {{form.usuario}}</p>
		</li>
		<li class="panel-body">
			<form action="#" method="POST">
			{{ form.hidden_tag() }}
			<table class="ele-space center">
				<tr>
					<td>ID </td>
					<td>{{form._id}}</td>
				</tr>
				<tr>
					<td>Usuário</td>
					<td>{{ form.usuario }}</td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td>{{ form.email }}</td>
				</tr>
				<tr>
					<td>Data de Cadastro</td>
					<td>{{ form.data_de_cadastro_f1 }}</td>
				</tr>
				<tr>
					<td>Senha</td>
					<td>{{ form.senha }}</td>
				</tr>
				<tr>
					<td>{{form.role.label}}</td>
					<td>{{ form.role }}</td>
				</tr>
				<tr>
					<td>Ativo?</td>
					<td>{{ form.ativo }}</td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="btn center" value="Salvar" ></td>
				</tr>
			</table>
			</form>
		<li>
	</ul>

{% endblock %}