* {
	margin: 0;
	padding: 0;
	/*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family:"Open sans", "Trebuchet MS", Courier New;*/
}
body {
	background: #F3F3F4;
	padding: 60px 0 20px 0;
}
.m-top {
	margin-top: 10px;
}
.m-bottom {
	margin-bottom: 10px;
}
.no-list li {
	list-style: none;
}
.list-left > li {
	float: left;
}
.ele-space, .ele-space li, .ele-space tr td, .ele-space tr {
	padding: 5px;
	border-spacing: 0;
}
.ele-space-hor {
	padding: 10px 70px;
}
.a, .a:visited {
	color: #17987E;
}
.a:hover {
	color: #000;
}
.center {
	margin: 0 auto;
	display: table;
}
.panel {
	display: block;
	box-shadow: 2px 5px 5px #888888;
	margin-bottom: 20px;
	list-style: none;
}
.panel-head {
	height: 50px;
	background: #263A4A;
	padding: 0 30px;
}
.panel-head p {
	line-height: 50px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #D1DADE;
}
.panel-body {
	padding: 20px;
	background: #FFF;
}
.btn {
	display: table;
	background: #263A4A;
	font-size: 16px;
	padding: 10px 30px;
	color: #D1DADE;
	border: 0;
	text-decoration: none;
}
.btn:hover {
	background: #17987E;
	color: #FFF;
}
.tabela {
	display: table;
	margin-bottom: 10px;
	border-spacing: 0;
}
.tabela-m-r th:nth-child(1), .tabela-m-r th:nth-child(2), .tabela-m-r th:nth-child(3) {
	width: 200px;
}
.tabela td, .tabela th {
	padding: 10px 20px;
}
.tabela tr th {
	background: #263A4A;
	color: #D1DADE;
}
.tabela, .tabela td {
	border: solid 1px #263A4A;
}
.enunciado {
	font-size: 20px;
	font-weight: bold;
}
.enunciado textarea {
	width: 590px;
}
.txt-enunciado, .txt-observacoes {
	width: 450px;
}
.l-q-enunciado {
	width: 500px;
}
.table {
	display: table;
}
.block {
	display: block;
}
.bold {
	font-weight: bold;
}
.red {
	color:red;
}
.copyright {
	font-size: 11px;
	float: right;
}
.copyright a {
	font-style: italic;
}
.txt-center {
	text-align: center;
}
.lista-questoes {
	text-align: center;
}
#enviado-por, #revisado-por {
	font-style: italic;
}
#top {
	width: 100%;
	height: 50px;
	background: #263A4A;
	position: fixed;
	top: 0;
	box-shadow: 0px 5px 5px #888888;
}
#top h2 {
	color: #D1DADE;
	line-height: 50px;
	text-align: center;
}
#bot {
	width: 100%;
	height: 30px;
	background: #263A4A;
	position: fixed;
	bottom: 0;
}
#bot h4 {
	color: #D1DADE;
	line-height: 30px;
}
#conteudo {
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}
#menu {
	margin-right: 20px;
	float: left;
	display: table;
}
#menu ul {
	background: #263A4A;
	margin-bottom: 20px;
	box-shadow: 2px 5px 5px #888888;
}
#menu ul li a {
	text-align: center;
	padding: 10px 30px;
	display: table;
	width: 240px;
	text-decoration: none;
	color: #D1DADE;
}
#menu ul li:first-child {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
#menu ul li a:hover {
	background: #17987E;
	color: #FFF;
}
#usuario-conteudo {
	width: 670px;
}
#questao-menu, .submenu {
	background: #263A4A;
	height: 50px;
	color: #D1DADE;
}
#questao-menu p, .submenu p {
	display: inline;
	line-height: 50px;
	padding-left: 20px;
	font-size: 20px;
}
#questao-menu ul {
	float: right;
}
#questao-menu ul li input {
	padding: 0 20px;
	display: table;
	height: 50px;
	text-decoration: none;
	font-size: 16px;
	background: #263A4A;
	color: #D1DADE;
	border: none;
}
#questao-menu ul li input:hover {
	background: #17987E;
	color: #FFF;
}
#questao-enunciado {
	padding: 20px;
	font-size: 20px;
}
#alternativas {
	padding: 0 70px 10px 70px;
}
#alternativas ul li:nth-child(1n+2) {
	padding-top: 20px;
}
.r-posicao {
	width: 50px;
}
.r-usuario {
	width: 300px;
}
.r-data {
	width: 200px;	
}
.r-acertos {
	width: 100px;
}