{% extends 'logado.html' %}
{% block conteudo %}
<form action="/questao/editar/{{ _id }}" method="POST">
<table>
	{{ form.hidden_tag() }}
	{% for message in get_flashed_messages() %}
	<tr>
		<td colspan='2'> {{ message }} </td>
	</tr>
	{% endfor %}
	<tr>
		<td>{{ form.enunciado.label }}</td>
		<td>{{ form.enunciado }}
			{% for error in form.enunciado.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td>{{ form.alternativa_a.label }}</td>
		<td>{{ form.alternativa_a }}
			{% for error in form.alternativa_a.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td>{{ form.alternativa_b.label }}</td>
		<td>{{ form.alternativa_b }}
			{% for error in form.alternativa_b.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td>{{ form.alternativa_c.label }}</td>
		<td>{{ form.alternativa_c }}
			{% for error in form.alternativa_c.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td>{{ form.alternativa_d.label }}</td>
		<td>{{ form.alternativa_d }}
			{% for error in form.alternativa_d.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td>{{ form.alternativa_e.label }}</td>
		<td>{{ form.alternativa_e }}
			{% for error in form.alternativa_e.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td>{{ form.alternativa_correta.label }}</td>
		<td>{{ form.alternativa_correta }}
			{% for error in form.alternativa_correta.errors %}
			<span style="color:red;">{{ error }}</span>
			{% endfor %}</td>
	</tr>
	<tr>
		<td><input type="submit" value="Atualizar" /></td>
	</tr>
</table>
</form>
{% endblock %}