{% extends 'questao/base.html' %}
{% block questao %}
<form action="{{ url_for('questao_enviar') }}" method="POST">
<ul class="no-list ele-space">
	{{ form.hidden_tag() }}
	{% for message in get_flashed_messages() %}
	<li> {{ message }} </li>
	{% endfor %}
	<li class="enunciado">
		{{ form.enunciado(placeholder='Enunciado') }}
		<span class="red bold">*
		{% for error in form.enunciado.errors %}
			[{{ error }}]
		{% endfor %}
		</span>
	</li>
	<li>
		<ul class="ele-space-hor">
			<li>
				<input checked id="alternativa_correta-0" name="alternativa_correta" type="radio" value="a" />
				<span class="bold">A. </span>
				{{ form.alternativa_a }}
				<span class="red bold">*
				{% for error in form.alternativa_a.errors %}
					[{{ error }}]
				{% endfor %}
				</span>
			</li>
			<li>
				<input id="alternativa_correta-1" name="alternativa_correta" type="radio" value="b">
				<span class="bold">B. </span>
				{{ form.alternativa_b }}
				<span class="red bold">*
				{% for error in form.alternativa_b.errors %}
					[{{ error }}]
				{% endfor %}
				</span>
			</li>
			<li>
				<input id="alternativa_correta-2" name="alternativa_correta" type="radio" value="c">
				<span class="bold">C. </span>
				{{ form.alternativa_c }}
				<span class="red bold">*
				{% for error in form.alternativa_c.errors %}
					[{{ error }}]
				{% endfor %}
				</span>
			</li>
			<li>
				<input id="alternativa_correta-3" name="alternativa_correta" type="radio" value="d">
				<span class="bold">D. </span>
				{{ form.alternativa_d }}
				<span class="red bold">*
				{% for error in form.alternativa_d.errors %}
					[{{ error }}]
				{% endfor %}
				</span>
			</li>
			<li>
				<input id="alternativa_correta-4" name="alternativa_correta" type="radio" value="e">
				<span class="bold">E. </span>
				{{ form.alternativa_e }}
				<span class="red bold">*
				{% for error in form.alternativa_e.errors %}
					[{{ error }}]
				{% endfor %}
				</span>
			</li>
		</ul>
	</li>
	<li>
		<input type="submit" class="btn center" value="Enviar" />
	</li>
</ul>

</form>
{% endblock %}