{% extends 'questao/base.html' %}

{% block questao %}

{% for message in get_flashed_messages() %}
	<h3 class="center ele-space">{{message}}</h3>
{% endfor %}

<a href="{{ url_for('questao_enviar') }}" class="btn center"> Enviar Questão </a>

<table class="lista-questoes tabela">
	<tr>
		<th class="l-q-enunciado">Enunciado</th>
		<th class="l-q-data-de-cadastro">Data de Cadastro</th>
		<th class="l-q-cadastrada-por">Status</th>
	</tr>
	{% for questao in questoes %}
	<tr>
		<td>{{ questao.enunciado }}</td>
		<td><p class="center">{{ questao.data_de_envio }}</p></td>
		<td><p class="center">{{ questao.status_descricao() }}</p></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}