{% extends 'questao/base.html' %}

{% block questao %}

{% for message in get_flashed_messages() %}
	<p class="center ele-space">{{message}}</p>
{% endfor %}

{% if questoes %}
<table class="lista-questoes tabela">
	<tr>
		<th class="l-q-enunciado">Enunciado</th>
		<th class="l-q-data-de-cadastro">Data de Envio</th>
		<th class="l-q-cadastrada-por">Status</th>
	</tr>
	{% for questao in questoes %}
	<tr>
		<td>{{ questao.enunciado }}</td>
		<td><p>{{ questao.data_de_envio_f1 }}</p></td>
		<td><p>{{ questao.status_descricao }}</p></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

<a href="{{ url_for('questao_enviar') }}" class="btn center"> Enviar Questão </a>

{% endblock %}