{% extends 'questao/base.html' %}

{% block questao %}

{% for message in get_flashed_messages() %}
	<h3 class="center ele-space">{{message}}</h3>
{% endfor %}

<table class="lista-questoes tabela">
	<tr>
		<th class="l-q-enunciado">Enunciado</th>
		<th class="l-q-data-de-cadastro">Data de Cadastro</th>
		<th class="l-q-status">Status</th>
		<th class="l-q-enviada-por">Enviada Por</th>
	</tr>
	{% for questao in questoes %}
	<tr>
		<td><a href="/questao/revisar/{{questao._id}}">{{ questao.enunciado }}</a></td>
		<td><p class="center">{{ questao.data_de_envio }}</p></td>
		<td><p class="center">{{ questao.status_descricao() }}</p></td>
		<td><p class="center">{{ questao.enviada_por_usuario() }}</p></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}