{% extends 'logado.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	function ajusta_rodada(){
		$.post("{{ url_for('quiz_rodada') }}")
			.done(function(data){
				$("#enunciado").text(data.questao['enunciado']);
				$("#alternativa_a").text(data.questao['alternativa_a']);
				$("#alternativa_b").text(data.questao['alternativa_b']);
				$("#alternativa_c").text(data.questao['alternativa_c']);
				$("#alternativa_d").text(data.questao['alternativa_d']);
				$("#alternativa_e").text(data.questao['alternativa_e']);
			})
			.fail(function(fail){
				alert('error');
			});
	}
	function envia_resposta(){
		var resposta = $('input:radio[name=alternativa]:checked').val();
		$.post("{{ url_for('quiz_responder') }}", {'resposta': resposta,})
			.done(function(data){
				var acertou = data['acertou'];
				if(acertou){
					ajusta_rodada();
				}else{
					window.location.replace("{{ url_for('quiz_resultado') }}");
				}
			})
			.fail(function(fail){
				alert('error');
			});
	}
	$(document).ready(function(){
		ajusta_rodada();

		$("#responder").bind('click', function(){
			envia_resposta();
		});
	});
</script>
{% endblock %}

{% block conteudo %}

<div id="questao-menu">
	<p>RODADA X</p>
	<ul class="list-left">
		<li><a href="#">Cartas (X)</a></li>
		<li><a href="#">Pular (X)</a></li>
	</ul>
</div>
<ul id="questao">
	<li>
		<p id="enunciado"></p>
	</li>
	<li id="alternativas">
		<ul>
			<li><input type="radio" name="alternativa" value="a"/>
				<label id="alternativa_a" for="alternativa_a"></label></li>
			<li><input type="radio" name="alternativa" value="b"/>
				<label id="alternativa_b" for="alternativa_b"></label></li>
			<li><input type="radio" name="alternativa" value="c"/>
				<label id="alternativa_c" for="alternativa_c"></label></li>
			<li><input type="radio" name="alternativa" value="d"/>
				<label id="alternativa_d" for="alternativa_d"></label></li>
			<li><input type="radio" name="alternativa" value="e"/>
				<label id="alternativa_e" for="alternativa_e"></label></li>
			<li><input type="button" id="responder" value="Responder" /></li>
		</ul>
	</li>
</ul>

{% endblock %}