{% extends 'quiz/base.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	function ajusta_rodada(){
		$.post("{{url_for('quiz_rodada')}}")
			.done(function(data){
				$("#rodada").text("RODADA " + (data.partida['acertos'] + 1));
				$("#cartas").text("Cartas (" + data.partida['cartas'] + ")");
				$("#pular").text("Pular (" + data.partida['pular'] + ")");

				$("#questao-enunciado").text(data.questao['enunciado']);
				$("#alternativa_a").text(data.questao['alternativa_a']);
				$("#alternativa_b").text(data.questao['alternativa_b']);
				$("#alternativa_c").text(data.questao['alternativa_c']);
				$("#alternativa_d").text(data.questao['alternativa_d']);
				$("#alternativa_e").text(data.questao['alternativa_e']);

				$("#enviado-por").text(data.questao['enviada_por']);
				$("#revisado-por").text(data.questao['revisada_por']);

				$("input:radio[name=alternativa][value=a]").prop('checked', true);
			})
			.fail(function(fail){
				$("#error").text('Ocorreu um erro ao tentar atualizar a partida, por favor, tente mais tarde.');
			});
	}
	$(document).ready(function(){
		ajusta_rodada();

		$("#responder").bind('click', function(){
			var resposta = $('input:radio[name=alternativa]:checked').val();
			$.post("{{ url_for('quiz_responder') }}", {'resposta': resposta,})
				.done(function(data){
					var status = data['status'];
					if(status==0){ // error
						$("#error").text(data['message']);
					}else if(status==1){ // continua
						ajusta_rodada();
					}else if(status==2){ // fim_partida
						window.location.replace("{{url_for('quiz_resultado')}}");
					}else{
						$("#error").text('Ocorreu um erro ao tentar enviar sua resposta, por favor, tente mais tarde.');
					}
				})
				.fail(function(fail){
					$("#error").text('Ocorreu um erro ao tentar enviar sua resposta, por favor, tente mais tarde.');
				});
		});

		$("#pular").bind('click', function(){
			$.post("{{ url_for('quiz_pular') }}")
				.done(function(data){
					var acertou = data['status'];
					if(status==0){
						$("#error").text(data['message']);
					}else if (status==1){
						ajusta_rodada();
						$("#message").text("Você acabou de pular uma questão.");
					}else{
						$("#error").text('Ocorreu um erro ao tentar pular a questão, por favor, tente mais tarde.');
					}
				})
				.fail(function(fail){
					$("#error").text('Ocorreu um erro ao tentar pular a questão, por favor, tente mais tarde.');
				});
			ajusta_rodada();
		});

		$("#cartas").bind('click', function(){
			$.post("{{ url_for('quiz_cartas') }}")
				.done(function(data){
					var acertou = data['status'];
					if(status==0){
						$("#error").text(data['message']);
					}else if (status==1){
						ajusta_rodada();
						$("#message").text("");
					}else{
						$("#error").text("A solicitação não foi ");
					}
				})
				.fail(function(fail){
					$("#error").text('Ocorreu um erro ao tentar pular a questão, por favor, tente mais tarde.');
				});
			ajusta_rodada();
		});
	});
</script>
{% endblock %}

{% block quiz %}

<p id="error" class="red ele-space"></p>
<p id="message" class="ele-space"></p>

<div id="questao-menu">
	<p id="rodada">RODADA X</p>
	<ul class="list-left">
		<li><a href="#" id="cartas">Cartas (X)</a></li>
		<li><a href="#" id="pular">Pular (X)</a></li>
	</ul>
</div>

<ul id="questao">
	<li>
		<p id="questao-enunciado" class="enunciado"></p>
	</li>
	<li id="alternativas">
		<ul>
			<li><input checked type="radio" name="alternativa" value="a"/>
				<span class="bold">A. </span>
				<label id="alternativa_a" for="alternativa_a"></label></li>
			<li><input type="radio" name="alternativa" value="b"/>
				<span class="bold">B. </span>
				<label id="alternativa_b" for="alternativa_b"></label></li>
			<li><input type="radio" name="alternativa" value="c"/>
				<span class="bold">C. </span>
				<label id="alternativa_c" for="alternativa_c"></label></li>
			<li><input type="radio" name="alternativa" value="d"/>
				<span class="bold">D. </span>
				<label id="alternativa_d" for="alternativa_d"></label></li>
			<li><input type="radio" name="alternativa" value="e"/>
				<span class="bold">E. </span>
				<label id="alternativa_e" for="alternativa_e"></label></li>
			<li><input type="button" id="responder" class="btn center" value="Responder" /></li>
		</ul>
	</li>
</ul>
<p class="right copyright">enviado por <span class="a" id="enviado-por"></span> - revisado por <span class="a" id="revisado-por"></span></p>

{% endblock %}