<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--<meta content="/favicon.png" itemprop="image">-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<meta content="http://www.google.com/images/google_favicon_128.png" itemprop="image">
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
	<title> {% if title %} {{ title }} {% else %} quiz-do-lobao {% endif %} </title>
	<link rel="stylesheet" href="/static/style.css" />
	{% block head %}{% endblock %}
</head>
<body>
	<div id="top">
		<h2>quiz-do-lobao</h2>
	</div>
	
	{% block logado %}{% endblock %}
	
	<div id="bot"></div>
</body>
</html>